@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}



body{
    box-sizing: border-box;
    background-color: #F8F7F1;
    color: #002008;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #BAC4B1;
}

header > nav > ul > li {
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 10px;
}

header > nav > ul > li > a{
    color: #002008;
    text-decoration: none;
}
    
.menu{
    color: #F8F7F1;
}

th, td {
    border: 2px solid  #F8F7F1;
    border-radius: 5px;
    background-color:#BAC4B1;
    text-align: center;
}

img#logo {
    box-shadow: none;
    display: inline-block;
    padding-left: 60px;
    padding-top: 20px;
}

main {
    padding: 5%;
}

main > img {
    box-shadow: 2px 2px 6px black;
}

p {
    word-spacing: 1em;
    text-indent: 40px;
    padding: 10px;
    text-align: justify;
}

footer {
    padding-left: 40px;
}
